* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    src: local("StratosSkyeng"),
        url("./Stratos/statosskyeng-v1.001/Web fonts/stratosskyengweb-regular.woff") format("woff"),
        url("./Stratos/statosskyeng-v1.001/Web fonts/stratosskyengweb-regular.woff2") format("woff2");
}



.container {
    height: 100vh;
    background: #004980;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 20;
}

.title {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    text-align: center;
    width: 208px;
}

.content {
    width: 480px;
    height: 459px;
    background: #C2F5FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.button-select {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style-type: none;
}

.button-select__button input[type="radio"] {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 67px;
}

.button-start {
    width: 246px;
    height: 50px;
    left: 389px;
    top: 519px;
    background: #7AC100;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.button-select__button label {

    text-align: center;
    width: 98px;
    height: 98px;
    background: #FFFFFF;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 150%;
    color: #0080C1;
    border: none;
    cursor: pointer;
    align-items: center;

}

.button-select__button label,
.button-select__button input {
    display: block;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 975px;
    gap: 15px;
    justify-content: center;
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}

.game-time__number {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;

}

.game-time__name {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
    display: flex;
    padding-left: 29px;
    gap: 59px;
}

.gamebox__field-card-image {
    height: 133px;
    width: 95px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.gamebox__field-card-image:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.gamebox__field-card-image.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    height: 133px;
    width: 95px;
    position: absolute;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.modal {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-color: rgba(0, 73, 128, 0.9);
}


.text-modal {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #004980;
}

.time-modal {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
}

.time-modal__timer {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #000000;
}

.act {
    background-color: #7AC100 !important;
}